.crear-cuentaimg{


  margin: 40px 0 0 650px;
  width: 400px;


}

.img-left{

  margin: 130px 0 0 0;
  width: 700px;
  height: 700px;


}

.titulo{

  margin-top: 200px;
  margin-bottom: 100px;

}

.text-codigoClase{
  background-color: #ffffff;
  margin-left: 350px;
  margin-top: 30px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: black;

}

.text-codigoClase::placeholder{
 color: #545454;
  display: flex;
  justify-content: center;
}

.btn-continuar{
  background-color: #3f3f3f;
  color: #000000;
  border-color: #ffdd00;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: #888888 0.2em 0.2em 0.4em;
  margin-left: 350px;
  margin-top: 150px;
}
