<div>
  <h1 class="text-center"> Nueva escuela </h1>
    <div class="col-6 align-baseline">

      <img src="./assets/crearEstudiante/progress-2.png" class="crear-cuentaimg">


    </div>

  <div class="row">

    <div class="col-6">
      <img src="assets/crearEstudiante/tempImageDp4N2q%201.png" alt="img" class="img-left">
    </div>
    <div class="col-6">
      <h2 class=" titulo text-center text-dark fw-light">¿Tienes un código de clase?</h2>
      <p class="fw-lighter text-center justify-content-center">Si tienes un código de clases, ingresa el código y únete a la clase.</p>
      <input type="text" placeholder="Ingresalo aquí" class="text-codigoClase">

      <div class="row">
        <button class="btn btn-primary btn-continuar">Agregar a mi clase</button>
      </div>

    </div>






  </div>


</div>
