<div>

  <h2 class="text-center" > Crear un examen al curso </h2>


  <div>

    <div class="row">
      <img src="./assets/crearcuenta/progress.png" class="img align-items-center justify-content-center">

    </div>
    <div class="row">

      <h3 class="text-center titulo-lbl">Título del exámen</h3>
      <input type="text" placeholder="Escriba el título aquí..." class="titulo-examen">
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>


    </div>


  </div>


</div>
