<div>

  <h1 class="text-center fw-bold"> Nueva escuela</h1>

  <img class="d-flex progress-img" src="./assets/crearcuenta/progress.png" alt="progress">

  <h3 class="text-center fw-light info">Información personal</h3>

  <div class="row">

    <div class="col-6 align-baseline">

      <img src="./assets/crearcuenta/imgCrearCuenta.png" class="crear-cuentaimg">


    </div>


    <div class="col-6">


      <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">


          <div class="col-3">
            <label class="label">Nombre</label>
          </div>
          <div class="col-9">
            <input [(ngModel)]="formData.nombre" type="text"  name="nombre" class="form-control input-form"  placeholder="Escriba su nombre aquí...">
          </div>


        </div>
        <div class="row">


          <div class="col-3">
            <label class="label">Apellido</label>
          </div>
          <div class="col-9">
            <input [(ngModel)]="formData.apellido" name="apellido" type="text" class="form-control input-form"  placeholder="Escriba su apellido aquí...">
          </div>


        </div>

        <div class="row">


          <div class="col-3">
            <label class="label">Correo</label>
          </div>
          <div class="col-9">
            <input [(ngModel)]="formData.correo" name="correo" type="text" class="form-control input-form"  placeholder="Escriba su correo aquí...">
          </div>


        </div>
        <div class="row">


          <div class="col-3">
            <label class="label">Contraseña</label>
          </div>
          <div class="col-9">
            <input [(ngModel)]="formData.contrasenia" name="contrasenia" type="password" class="form-control input-form"  placeholder="Escriba su contraseña aquí...">
          </div>

        </div>
        <div class="div-radios row">

          <h5 class="text-center h5">¿Eres estudiante?</h5>

          <div class="row align-items-center justify-content-center" >
            <div class="col-auto align-items-center justify-content-center">
              <input [(ngModel)]="formData.esEstudiante" name="esEstudiante" class="radio" type="radio"  value="Si">
              <label class="label">Si</label>
            </div>
            <div class="col-auto align-items-center justify-content-center">
              <input [(ngModel)]="formData.esEstudiante" class="radio" type="radio" name="esEstudiante" value="No">
              <label class="label">No</label>
              
            </div>
          </div>

        </div>

          <div class="div-button align-items-center">
            <input class="btn btn-primary btn-continuar" id="enviar"  type="submit" value="Continuar">    
  </div>
      </form>

    </div>
  </div>


</div>


