<div class="div-pane">

  <h4 class="text-dark text-center"> Descripcion del curso</h4>

  <p class="justify-content-center text-dark">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quasi repellat similique sit tempora! Aperiam
    autem consequatur ea esse est ex explicabo, facilis, labore magnam pariatur ratione tempora ullam vel!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci aliquid blanditiis culpa fuga
    laboriosam necessitatibus quas reprehenderit soluta totam! Alias dicta enim id molestias similique sit temporibus tenetur voluptatum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci aliquid blanditiis culpa fuga
    laboriosam necessitatibus quas reprehenderit soluta totam! Alias dicta enim id molestias similique sit temporibus tenetur voluptatum.
  </p>
</div>
