 <div id="cal" height="300px">
	<div width="100%">
	<header>
		<h1>{{get_dias.nombreMes}} {{get_dias.anio}}</h1>
		<div id="nav">
			<img (click)="desplazar(-1)" src="../../../assets/images/izquierda.svg">
			<img (click)="desplazar(1)" src="../../../assets/images/derecha.svg">
		</div>
	</header>


	<table>
		<tr id="diassemana">
			<th>L</th>
			<th>M</th>
			<th>Mi</th>
			<th>J</th>
			<th>V</th>
			<th>S</th>
			<th>D</th>
		</tr>

		<span *ngFor="let semana of get_dias.arrayDias">
		<td *ngFor="let dia of semana"> 
			<span *ngIf="dia==0"> <td style="width: 100%; height: 100%" class="blank"></td>  </span>
			<span *ngIf="dia!=0"> {{ dia }} </span>
		</td>
		</span>
	</table>
	</div>
</div>
