<div class="vh-100 div-notasAnteriores">

  <h4 class="text-center fw-bold"> Notas Anteriores</h4>

  <div class="div-notas vh-100">


    <div class="row text-center text-light title-tabla">

      <div class="col-3">
        <h6> Grupo </h6>
      </div>
      <div class="col-3">
        <h6> Profesor </h6>
      </div>
      <div class="col-3">
        <h6> Correo </h6>
      </div>
      <div class="col-3">
        <h6> Nota </h6>
      </div>

    </div>

    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>
    <app-nota-anterior-item></app-nota-anterior-item>


  </div>

</div>
