<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nueva escuela</title>
	</head>
	<body>
		<div id="fixed-size">
			<header id="titulo" class="subtitulos"> NUEVA ESCUELA </header>
			<div id="centro">
				<div class="portada">
				<img class="portada" src="../../../assets/PortadaLogin.png">
				<p id="slogan" class="subtitulos" >Transformamos la educación apartir de la tecnología</p><br><br><br>
				<p id="copyright" class="subtitulos" >© Copyrigth. All rights is reseverd</p>
				</div>

				<form id="formulario">
					<p class="subtitulos">INICIAR SESION</p>
					<label class="subtitulos" name="correo" for="campo_correo"> CORREO</label ><br>
					<input class="campo" id="campo_correo" type="email"><br>
					<label class="subtitulos" name="contrasenia" for="campo_contrasenia"> CONTRASEÑA </label ><br>
					<input id="campo_contrasenia" class="campo" type="password"><br>
					<div class="botones">
						<input id="enviar" type="submit" value="ENTRAR">
						<p id="o" class="subtitulos">O</p>
						<button id="crear-cuenta"> CREAR UNA CUENTA </button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>

