<div>

  <h1 class="text-center fw-bold"> Nueva Escuela</h1>
  <div class="col-6 align-baseline">

    <img src="./assets/crearDocente/progress-2.png" class="crear-cuentaimg">

  </div>

  <div class="row text-center">

    <div class="col-6">
      <img src="assets/crearDocente/tempImage2DFNp6%201.png" alt="img" class="img-left">
    </div>
    <div class="col-6">
      <h2 class=" titulo text-center text-dark fw-light">Informacion del docente</h2>

      <div class="row">

        <div class="row">
          <div class="col-2">
            <label class="label">Número de identificación</label>
          </div>
          <div class="col-10">
            <input type="text" class="textfield "  placeholder="Número de identificación">
          </div>
        </div>

        <div class="row">

          <div class="col-2">
            <label class="label">Fecha de nacimiento</label>
          </div>
          <div class="col-10">
            <input type="text" class="textfield" placeholder="Fecha de nacimiento">
          </div>
        </div>

        <div class="row">

          <div class="col-2">
            <label class="label">Estudios</label>
          </div>
          <div class="col-10">
            <input type="text" class="textfield" placeholder="Estudios">
          </div>
        </div>

      </div>

      <div class="row">
        <button class="btn btn-primary btn-continuar">Agregar a mi clase</button>
      </div>

    </div>


  </div>
</div>
