<div class="div-examen vh-100">

  <h2 class="text-center">Examenes activos</h2>


  <div class="d-grid ">

    <div class="row grid">

      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>
      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>

    </div>

    <div class="row grid">

      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>
      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>

    </div>

    <div class="row grid">

      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>
      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>

    </div>

    <div class="row grid">

      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>
      <div class="col-6">
        <app-examen-activo-item></app-examen-activo-item>
      </div>

    </div>


  </div>
</div>
