<div>

  <div class="row">
    <div class="col-1">
      <button class="btn btn-primary btn-back"><</button>
    </div>
    <div class="col-11">
      <h1 class="text-center fw-light">Opciones del curso</h1>
    </div>
  </div>
  <img src="./assets/imgvistaAlumnos/Rectangle%2016.png" class=" img img-fluid z-0">
  <h3 class=" title z-3">Teoria de grafos</h3>

  <div class="pane-principal min-vh-100">

    <div class="div-tab-pane">

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crear examen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Descripcion del curso</a>
        </li>

      </ul>

    </div>


    <div>
      <app-crear-examen></app-crear-examen>
    </div>


  </div>


</div>
